@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background-color: rgb(42,42,68);
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-position: 50px 100px;
  background-size: 100%;
}
.container{
  max-width: 800px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  color: white;
  font-size: 35px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: white;
}
.content form .user-details{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  color: white;
  
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 600;
  margin-bottom: 1px;
}
.user-details .input-box input{
  color: white;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 15px;
  color: #080508;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid rgb(5, 5, 4);
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #080508;
}
 
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-around;
 }
 form .category label{
   color: white;
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #ffffff;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two{
   background: rgb(42,42,68);
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }

 .content form .gender-details{
  color: white;
  display: block;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0 12px 0;
}
form .gender-details .input-box{
  color: white;
  margin-bottom: 15px;
  width: 200%;
}

.content form .time-title{
  color: white;
  font-weight: 600;
  display: block;
  flex-wrap: wrap;
  justify-content: left;
  margin: 20px 0 12px 0;
}
form .time-title .input-box{
  color: rgb(245, 245, 220);
  margin-bottom: 15px;
  width: 100%;
}


 form .button{
   height: 45px;
   margin: 35px 0;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background : rgb(42,42,68);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background:rgb(42,42,68);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 15px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction:column;
}
}