<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSMVS About</title>
    <link rel="stylesheet" href="/static/CSMVS.css" />
    <script
      src="https://kit.fontawesome.com/bbfc9df0ce.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1><br />CHHATRAPATI SHIVAJI MAHARAJ VASTU SANGRAHALAYA</h1>
    <main>
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/08/a4/fc/57/chhatrapati-shivaji-maharaj.jpg?w=1000&h=-1&s=1"
        class="slide"
        alt=""
        width="100%"
        height="700px"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Chhatrapati_Shivaji_Maharaj_Vastu_Sangrahalaya_%28_prince_of_wales_museum_%29_Mumbai_%2C_Maharashtra_%2C_India.jpg/1200px-Chhatrapati_Shivaji_Maharaj_Vastu_Sangrahalaya_%28_prince_of_wales_museum_%29_Mumbai_%2C_Maharashtra_%2C_India.jpg?20170913060545"
        class="slide"
        alt=""
        width="100%"
        height="700px"
      />
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/92/3b/c7/photo0jpg.jpg?w=1200&h=-1&s=1"
        class="slide"
        alt=""
        width="100%"
        height="700px"
      />
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/82/f4/04/img-20180331-114616-largejpg.jpg?w=1100&h=-1&s=1"
        class="slide"
        alt=""
        width="100%"
        height="700px"
      />
    </main>
    <br />
    <div class="nav">
      <button onclick="goPrev()">Previous</button>
      <button onclick="goNext()">Next</button>
    </div>
    <br /><br />
    <div class="about">
      <h3>ABOUT</h3>
      <br />
      <p style="font-size: 24px">
        Chhatrapati Shivaji Maharaj Vastu Sangrahalaya, (CSMVS) originally named
        Prince of Wales Museum of Western India, is a museum in Mumbai (Bombay)
        which documents the history of India from prehistoric to modern times.
      </p>
      <br />
      <p style="font-size: 24px">
        It was founded during British rule of India in the early years of the
        20th century by prominent citizens of the city then called Bombay, with
        the help of the government, to commemorate the visit of the Prince of
        Wales (later George V, king of the United Kingdom and emperor of India).
        It is located in the heart of South Mumbai near the Gateway of India.
        The museum was renamed in 1998 after Chhatrapati Shivaji Maharaj, the
        founder of the Maratha Empire.
      </p>
      <br />
      <p style="font-size: 24px">
        The building is built in the Indo-Saracenic style of architecture,
        incorporating elements of other styles of architecture like the Mughal,
        Maratha and Jain. The museum building is surrounded by a garden of palm
        trees and formal flower beds.
      </p>
      <br />
      <p style="font-size: 24px">
        The museum houses approximately 50,000 exhibits of ancient Indian
        history as well as objects from foreign lands, categorised primarily
        into three sections: Art, Archaeology and Natural History. The museum
        houses Indus Valley civilization artefacts, and other relics from
        ancient India from the time of the Guptas, Mauryas, Chalukyas and
        Rashtrakuta.
      </p>
      <br /><br />
    </div>
    <div class="button">
      <a href="Payment.html"
        ><button style="font-size: 24px" style="font-weight: bold">
          BOOK TICKET</button
        ><br /><br
      /></a>
    </div>
    <script src="CSMVS.js"></script>
  </body>
</html>
