<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DBDLM About</title>
    <link rel="stylesheet" href="/static/DBDLM.css" />
  </head>
  <body>
    <h1><br />DR.BHAU DAJI LAD MUSEUM</h1>
    <main>
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/79/eb/e6/mumbai-s-oldest-museum.jpg?w=1200&h=-1&s=1"
        class="slide"
        alt=""
        width="100%"
        height="700px"
      />
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/79/eb/f8/the-museum-interior-is.jpg?w=1200&h=-1&s=1"
        class="slide"
        alt=""
        width="100%"
        height="700px"
      />
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/9e/1f/06/dr-bhau-daji-lad-museum.jpg?w=1200&h=-1&s=1"
        class="slide"
        alt=""
        width="100%"
        height="700px"
      />
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/45/0e/de/krishna-bhagwan.jpg?w=1200&h=-1&s=1"
        class="slide"
        alt=""
        width="100%"
        height="700px"
      />
    </main>
    <div class="nav">
      <button onclick="goPrev()">Previous</button>
      <button onclick="goNext()">Next</button>
    </div>
    <div class="about">
      <br />
      <h3>ABOUT</h3>
      <br />
      <p style="font-size: 24px">
        The Dr. Bhau Daji Lad Mumbai City Museum is an institution of the
        Municipal Corporation of Greater Mumbai. For the first time in India, a
        public-private partnership has been established for the management of a
        cultural institution. In February 2003, an agreement was signed between
        the Municipal Corporation Greater Mumbai (MCGM), the Jamnalal Bajaj
        Foundation and the Indian National Trust for Art and Cultural Heritage
        (INTACH).
      </p>
      <br />
      <p style="font-size: 24px">
        The Museum opened at the present site in 1872 as the erstwhile Victoria
        and Albert Museum, Bombay. As Mumbai’s first Museum, it showcases the
        city’s cultural heritage and history through a rare collection of Fine
        and Decorative Arts that highlight Early Modern Art practices as well as
        the craftsmanship of various communities of the Bombay Presidency. The
        permanent collection includes miniature clay models, dioramas, maps,
        lithographs, photographs, and rare books that document the life of the
        people of Mumbai and the history of the city from the late eighteenth to
        early-twentieth centuries.
      </p>
      <br />
      <p style="font-size: 24px">
        The Museum, once in a derelict condition, underwent a comprehensive
        five-year restoration and won UNESCO’s 2005 Award of Excellence in the
        field of Cultural Conservation. The Museum re-opened in 2008 with an
        extensive exhibition program and is committed to promoting contemporary
        art and culture.
      </p>
      <br />
      <p style="font-size: 24px">
        The Museum has collaborated with other museums and cultural institutions
        from around the world to showcase contemporary artists and international
        exhibitions that relate to the Museum’s permanent collection. <br />
      </p>

      <p style="font-size: 24px">
        In December of 2012, the Museum introduced a dynamic cultural hub, the
        Museum Plaza, which offers the public a recreational space for
        performances, outdoor activities, and workshops. The Museum has restored
        and re-appropriated abandoned spaces to accommodate a Special Projects
        Space, Museum Cafe, Museum Shop and an Education Centre.
      </p>
      <br />
      <p style="font-size: 24px">
        The Museum has embarked on an ambitious expansion plan, supported by the
        Municipal Corporation of Greater Mumbai and private donors, which
        includes developing a new wing adjoining the Museum Plaza. Facilities
        will include a Mumbai Modern Gallery, a state of the art Special
        Exhibitions Gallery to host national and international exhibitions, an
        auditorium, a learning centre, expanded library and archives, a
        conservation centre, staff and visitor amenities like cafes and shops.
      </p>
    </div>
    <br /><br />
    <div class="button">
      <a href="Payment.html"
        ><button style="font-size: 24px" style="font-weight: bold">
          BOOK TICKET</button
        ><br /><br
      /></a>
    </div>
    <script src="DBDLM.js"></script>
  </body>
</html>
